@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-800 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-300;
  font-family: "Inter", system-ui, sans-serif;
}

.input-field {
  @apply w-full p-3 bg-white border-2 border-slate-200 rounded-xl 
  focus:border-blue-600 focus:ring-4 focus:ring-blue-100 
  outline-none transition-all shadow-sm
  dark:bg-slate-800 dark:border-slate-700 dark:text-white 
  dark:focus:border-blue-500 dark:focus:ring-blue-900;
}

.input-field:hover {
  @apply border-blue-500 shadow-lg;
}